:root {
    --primary-color: #7B0994;
    --secondary-color: #DA4F4C;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 0 0;
}

.top {
    background: linear-gradient(261.21deg, rgba(164, 91, 189, 0.1) 0%, rgba(255, 126, 8, 0.25) 100%), rgba(164, 91, 189, 0.1);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

.btn-secondary:hover {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-check:active+.btn-secondary,
.btn-check:checked+.btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.works {
    padding: 20px 0;
    background-color: #fff;
}

.works h1 {
    padding: 10px 0;
}

.works .works__grid {
    display: flex;
    justify-content: space-between;
}

.works .works__grid .works__grid--column {
    flex: 0 1 24%;
}

.works .works__grid .works__grid--item {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.works .works__grid .works__grid--item img {
    transition: all 0.2s;
    transform: scale(1.1);
}

.works .works__grid .works__grid--item img,
.works .works__grid .works__grid--item p {
    pointer-events: none;
}

.works .works__grid .works__grid--item:hover img {
    transform: scale(1.2);
}

.works .works__grid .works__grid--item .author {
    max-width: 90%;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}